
@{
    ViewBag.Title = "Index";
}

<h2> </h2>
<h2>Administracion FarmaPrueba </h2>
<h2> </h2>
<h2> </h2>

<div>
    <img src="~/Imagenes/portada.png" alt="FarmaPrueba" style="width: 100%; max-width: 600px;" />
</div>