@model List<FarmaPrueba.BL.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>



<table class = "table table-bordered table-hover">
    @foreach (var producto in Model)
    {
        <tr>
            <td>@producto.ID</td>
            <td>@producto.Descripcion</td>
            <td>@producto.Precio</td>
        </tr>

    }
  
</table>